.vscode/settings.json
.vscode/
project/macos/Runner.xcworkspace/contents.xcworkspacedata
project/macos/Runner.xcodeproj/project.pbxproj
project/macos/Flutter/Flutter-Release.xcconfig
project/macos/Flutter/Flutter-Debug.xcconfig
project/macos/Podfile.lock
project/macos/Podfile
project/ios/Runner.xcworkspace/contents.xcworkspacedata
project/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
project/ios/Runner.xcodeproj/project.pbxproj
project/ios/Flutter/Release.xcconfig
project/ios/Flutter/Debug.xcconfig
project/ios/Flutter/AppFrameworkInfo.plist
project/ios/Podfile.lock
project/ios/Podfile
project/pubspec.lock
project/devtools_options.yaml
.vscode/settings.json
